<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>clikedAppearRect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1868847F1BF5F8E900A7DE74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186884981BF5F8E900A7DE74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186884A31BF5F8E900A7DE74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
