<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>buDing —1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18DADEAB1C06E9C700485CA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DADEC41C06E9C700485CA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DADECF1C06E9C700485CA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
