<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lyric.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18B4977B1BEB6B9900C62549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B497941BEB6B9A00C62549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B4979F1BEB6B9A00C62549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
