<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250101</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250102</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250103</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250104</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250201</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250202</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250203</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250301</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250302</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250303</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250304</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250305</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250306</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250401</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250402</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250403</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250404</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250405</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250406</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250407</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250408</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250409</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250501</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250502</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250503</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250504</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250505</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250506</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250507</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250508</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250509</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250510</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250511</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250601</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250602</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250603</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250604</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250605</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250606</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250607</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250700</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250701</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250702</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250703</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250704</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250705</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250801</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250802</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250803</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250804</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250805</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250806</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250901</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250902</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250903</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250904</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250905</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250906</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250907</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250908</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250909</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101250910</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251001</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251002</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251003</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251004</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251005</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251006</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251101</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251102</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251103</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251201</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251202</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251203</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251204</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251205</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251206</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251207</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251208</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251209</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251210</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251211</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251301</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251302</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251401</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251402</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251403</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251404</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251405</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251406</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251407</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251408</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251409</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251410</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251501</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251502</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251503</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251504</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251505</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251506</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251507</string>
	<string>http://wthrcdn.etouch.cn/WeatherApi?citykey=101251508</string>
</array>
</plist>
