<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabelViewquibia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C5D1AD1BFB11E4002DA112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C5D1C61BFB11E4002DA112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C5D1D11BFB11E4002DA112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
