<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>移动绘图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18DADD7A1C045EE700485CA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DADD931C045EE800485CA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DADD9E1C045EE800485CA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
